@import './design-tokens/design-tokens.css';

/* Header Section */

header {
  font-weight: bold;
  padding: 0.6rem;
  background-color: var(--clr-primary);
  color: var(--white);
  height: 3rem;
}

nav {
  position: relative;
}

.btn-user {
  background-color: var(--clr-info);
  font-size: 1rem;
  height: 2rem;
  width: 2rem;
}

.btn-participants {
  border: 1px solid transparent;
}

.btn-participants:hover {
  border-color: var(--white);
}

.btn-participants:focus + .participant-dropdown,
.btn-participants:focus-visible + .participant-dropdown {
  display: flex;
}

.participant-dropdown {
  display: none;
  position: absolute;
  top: 110%;
  font-weight: normal;
  background-color: var(--clr-bg-participants);
  border: 1px solid var(--clr-border-participants);
  border-radius: 8px;
  color: var(--dark-blue);
  padding: 0.4rem;
}

/* Main Section */
main {
  display: grid;
  grid-template: 60% 40% / 2.3rem repeat(4, 1fr);
  height: calc(100vh - 3rem);
}

.sidebar-container {
  background-color: var(--clr-bg-participants);
  grid-column: 1 / 2;
  grid-row: 1 / span 2;
  display: flex;
  flex-direction: column;
}

.sidebar-upper-section {
  height: 60%;
  background-color: var(--clr-secondary);
  color: var(--dark-blue);
  > h2 {
    color: var(--dark-blue);
  }
}

.sidebar-lower-section {
  height: 40%;
  background-color: var(--clr-primary);
  > h2 {
    color: var(--white);
  }
}

.sidebar-upper-section h2,
.sidebar-lower-section h2 {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  white-space: nowrap;
}

.main-content {
  background-color: var(--clr-bg-keep);
  grid-column: 2 / span 4;
  grid-row: 1 / span 2;
}
